<% include header %>

<div class="container bump-me">
    <div class="body-content">
        <div class="row">
            <div class="col-md-8 col-offset-1">

                <div class="panel panel-default">
                    <div class="panel-heading"> 초대번호 전송</div>
                    <div class="panel-body">
                      <p></p>



                    <div class="form-group form-group-sm">
                      <label for="" class="col-md-2 control-label"> 카톡 아이디</label>
                       <div class="col-md-5">
                         <div class="input-group">
                           <input type="text" class="form-control"  id="katokId" placeholder="" aria-label="Search for..." data-toggle="tooltip" data-placement="bottom" title=" ">
                           <span class="input-group-btn">

                           </span>
                         </div>
                       </div>
                         <div class="col-md-5">
                       <span class="help-block" ><small></small> </span>
                     </div>
                     </div>
<Br>
                     <div class="form-group form-group-sm">
                       <label for="" class="col-md-2 control-label"> 이메일</label>
                        <div class="col-md-5">
                          <div class="input-group">
                            <input type="text" class="form-control"  id="email" placeholder="" aria-label="Search for..." data-toggle="tooltip" data-placement="bottom" title="">
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-sm" id="generate" type="button" >신청</button>
                            </span>
                          </div>
                        </div>
                          <div class="col-md-5">
                        <span class="help-block" ><small></small> </span>
                      </div>
                      </div>

             </div>
              <hr>

                      <!--  <a class="btn btn-primary" href="/signup" >Sign up with Facebook</a>-->
                      </div>


                    </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Heyletz!</h4>
        </div>
        <div class="modal-body">
          <div id="modal_text"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>

    </div>
  </div>
  <script>

  </script>
    <script src="/js/generate.js"></script>
  <!--  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>-->
</div>

<% include footer %>
