<% include header %>
<script src="/js/landing.js"></script>
<div class="container bump-me">
    <div class="body-content">
        <div class="row">
            <div class="col-lg-6 col-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"> 소개팅 나갔다가 예의상 빼도막도 못한 채 시간만 죽여야 했던 경험들..<br> 이제는 오프라인으로 만나기 전에 헤이렛즈에서 상대를 먼저 만나보세요.
                      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">  </fb:login-button>
                      <Br><br>
                      <p><a class="btn btn-primary" href="/signup" >회원가입!</a></p>
                    </div>
                    <div class="panel-body">  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>
